<!-- <nav class="navbar navbar-expand-lg navbar-dark shadow-sm" style="background-color:#4267B2">
  <a class="navbar-brand" routerLink="/authorization/authorization"><img class="rpso-logo" src="../../../assets/img/rps-logo.png" /></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/superAdmin">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/superAdmin/organizationList">Admin List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/superAdmin/euProfile">User List</a>
      </li>                
    </ul>
  </div>
</nav>
 -->

 <div class="container-fluid navbar-dark shadow-sm" style="background-color:#4267B2">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" routerLink="/authorization"><img class="rpso-logo" src="../../../assets/img/rps-logo.png" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/superAdmin">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/superAdmin/organizationList">Admin List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/superAdmin/euProfile">User List</a>
              </li>                
            </ul>
            <div class="form-inline my-2 my-lg-0">
              <button class="btn btn-outline-light" (click)="onLogout()" *ngIf="isLoggedIn$">Logout</button>
            </div>
          </div>
        </nav>
       </div>
     </div>
   </div>
 </div>